AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /region/country/mexico/hotels
RewriteRule ^page/([^/]*)\.html$ /region/country/mexico/hotels/?page=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

