AddType application/x-httpd-php5 .php

RewriteEngine On
RewriteBase /region/country/greece/hotels/abc
RewriteRule ^letter/([^/]*)\.html$ /region/country/greece/hotels/abc/?letter=$1 [L]
RewriteRule (.+)(/)$ $1.html [L,QSA]

